<header class="header">
  <div class="header-wrap container">
    <a class="header-brand" href="#top" aria-label="Agrosentia home">
      <img class="header-logo" src="/logo.svg" alt="Agrosentia logo" />
    </a>

    <nav class="header-nav" aria-label="Primary navigation">
      <ul class="header-menu">
        <li class="header-menu-item">
          <a href="#about-us">About us</a>
        </li>
        <li class="header-menu-item">
          <a href="#areas-of-activity">Areas of activity</a>
        </li>
        <li class="header-menu-item">
          <a href="#export-range">Export range</a>
        </li>
        <li class="header-menu-item">
          <a href="#customer-order">Request form</a>
        </li>
      </ul>
    </nav>

    <div class="header-actions">
      <address class="header-address">
        <a class="header-tel" href="tel:+380993078626">+380 (99) 307-86-26</a>
      </address>

      <ul class="header-social-list" aria-label="Social links">
        <li class="header-social-item">
          <a
            class="header-link"
            href="https://www.facebook.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="Facebook"
          >
            <svg class="header-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            class="header-link"
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="Instagram"
          >
            <svg class="header-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a
            class="header-link"
            href="https://www.youtube.com"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="YouTube"
          >
            <svg class="header-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button
        class="open-mobile-menu-btn"
        type="button"
        aria-label="Open menu"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <svg
          class="open-mobile-menu-icon"
          width="44"
          height="30"
          aria-hidden="true"
        >
          <use href="/img/sprite.svg#icon-nav"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
